__pycache__/
.DS_Store
.ipynb_checkpoints
.ruff_cache/

# Docs
corpora/
site/

# Pip
*.egg-info/

# Curated files
output/

# Testing
.coverage
.pytest_cache/
coverage.xml
htmlcov/

