# This is redundant with dev dependencies in pyproject.toml.
# It is used by the sphinx-notes/pages@v3 GitHub Action used
# to build the documentation remotely. It installs sphinx
# automatically, but need to add additional requirements
# that are installed during documentation building.
#
# There's a way to customize that GitHub action so maybe this
# could be avoided, but okay.

pydata-sphinx-theme
