# Build and Deploy Sphinx Docs to GitHub Pages
# Workflow for building sphinx documentation remotely
# and deploying the static HTML to a GitHub Pages site.
# Note this approach does not require the static HTML
# files to be stored/pushed/committed to an alternate
# pages branch or anything like that. It uses GitHub
# Action artifacts...
name: Deploy Docs


on:
  workflow_dispatch:
  pull_request:
  release:
    types:
      - published
  push:
    branches:
      - main
      - dev


permissions:
  contents: read
  pages: write
  id-token: write


concurrency:
  group: "pages"
  cancel-in-progress: true


jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      ## These help to install krank remotely
      ## So it's importable in conf.py, but I
      ## think this is solved with a relative
      ## import now in conf.py.
      # - name: Checkout
      #   uses: actions/checkout@v4
      # - name: Install package
      #   run: python -m pip install .
      - name: Deploy to GitHub Pages
        id: deployment
        uses: sphinx-notes/pages@v3
