name: Ruff
on: [push, pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Run Ruff Linter
        uses: astral-sh/ruff-action@v3
        with:
          args: "check --output-format=github"
      - name: Run Ruff Formatter
        # If always to run formatter even if linter fails
        if: always()
        uses: astral-sh/ruff-action@v3
        with:
          # --check to not write changes
          # --diff to show the the full changes that would be made
          # --preview is required to silence warning about output-format instability
          args: "format --check --diff --output-format=github --preview"
